@charset"UTF-8";
/*aaa*/
body{
      background-color: #2D1F42;
      color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
    }

.titulo{
    font-family: Georgia;
    margin: 20px;
    color: #fff;
    background-color: #b976de;
    border-radius: 50px;
}

#locais{
    padding-top: 200px;

}


h1{
      font-size: 40px;
      color: #d5d0db
      border-width: medium;
      border-radius: 10px;
  }

