@charset"UTF-8";
/*aaa*/
body{
      background-color: #2D1F42;
      color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
    }

.titulo{
    font-family: Georgia;
    margin: 20px;
    color: #fff;
    background-color: #b976de;
    border-radius: 50px;
}

#locais{
    padding-top: 200px;

}


h1{
      font-size: 40px;
      color: #d5d0db
      border-width: medium;
      border-radius: 10px;
  }


h3 { 
      position: absolute;
      top: 50px;
      left: 20px;
      text-align: center;
      font-family: Georgia;
      color: #d5d0db;
      position: absolute;
      top: 50px;
      left: 20px;
      
  }

p{
      text-align: left;
      color: #d5d0db;
      text-decortion:underline;
}
#menu{
       color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
}
#link{
       color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
}
